<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Carteconsulaire</h1>

    <%= render 'form', carteconsulaire: @carteconsulaire %>

    <%= link_to 'Show', @carteconsulaire %> |
    <%= link_to 'Back', carteconsulaires_path %>
</main>