<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <h1>New Bureausmember</h1>

  <%= render 'form', bureausmember: @bureausmember %>

  <%= link_to 'Back', bureausmembers_path %>
</main>