<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Typebourse</h1>

    <%= render 'form', typebourse: @typebourse %>

    <%= link_to 'Show', @typebourse %> |
    <%= link_to 'Back', typebourses_path %>
</main>