<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<br>
    <h1>New Niveauformation</h1>

    <%= render 'form', niveauformation: @niveauformation %>

    <%= link_to 'Back', niveauformations_path %>
</main>