<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @niveauformation.name %>
  </p>

  <%= link_to 'Edit', edit_niveauformation_path(@niveauformation) %> |
  <%= link_to 'Back', niveauformations_path %>
</main>