<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Yes No</h1>

    <%= render 'form', yes_no: @yes_no %>

    <%= link_to 'Show', @yes_no %> |
    <%= link_to 'Back', yes_nos_path %>
</main>