<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 style-index-card">
  <div style="">
    <!-- h1 class"add-more">AESC</h1-->
    <div class="cover" id="background">
    
    </div>
  </div>
  <br>
</main>