<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Boursier</h1>

    <%= render 'form', boursier: @boursier %>

    <%= link_to 'Show', @boursier %> |
    <%= link_to 'Back', boursiers_path %>
</main>