<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Newinformation</h1>

    <%= render 'form', newinformation: @newinformation %>

    <%= link_to 'Show', @newinformation %> |
    <%= link_to 'Back', newinformations_path %>
</main>