<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

  <br>
  <p><%= link_to 'New Newinformation', new_newinformation_path,class:"btn btn-primary"  if logged_in?(:site_admin, :president) %></p>
  
  <br>

  <% if @newinformations.empty? %>
    <h2 style="margin:5%;margin-left:15%;padding:5%;padding-left:10%;border:2px solid red;border-radius:5%;width:45%;"> No Informations Yet </h2>
  <% else %>
    <%= render @newinformations %>
  <% end %>
</main>