<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

  <br>
  <p><%= link_to 'New Newinformation', new_newinformation_path,class:"btn btn-primary"  if logged_in?(:site_admin) %></p>
  
  <br>

  <%= render @newinformations %>
</main>