<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>New Faireanneelangue</h1>

    <%= render 'form', faireanneelangue: @faireanneelangue %>

    <%= link_to 'Back', faireanneelangues_path %>
</main>