<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @faireanneelangue.name %>
  </p>

  <%= link_to 'Edit', edit_faireanneelangue_path(@faireanneelangue) %> |
  <%= link_to 'Back', faireanneelangues_path %>
</main>