<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<br>
    <h1>Nouveau Etudiant</h1>
    <%#= current_user.role %>

    <%= render 'form', etudiant: @etudiant %>

    <%= link_to 'Back', etudiants_path %>
</main>